* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;

}

body {
    width: 80%;
    /* height: 90%; */
    margin: 20px auto;
    border: 25px solid #bdc3c7;

}

section {
    height: 90%;
    width: 90%;
    margin: 5% auto;
}

.blog {
    margin: 0 0 10px 0;
}

.blogHeader, .paragraphArea {
    padding: 30px 0 0 0;
}

.date {
    color: #3498db;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.blogHeader {
    color: #2c3e50;
    text-transform: capitalize;
    font-size: 2.0rem;
}

.paragraphArea {
    color: #2c3e50;
}

.padding {
    padding: 15px 0 0 0;
}

.paragraphArea p:first-of-type {
    border-left: 5px solid #bdc3c7;
    padding: 0 0 0 5px;
}

hr {
    /* border: #bdc3c7 0.01px solid; */
    opacity: 0.5;
    margin: 20px 0;
}